.container {
    display: grid;
    /* grid열을 5개로 지정 */
    grid-template-columns: repeat(5, 1fr);  
    /* grid, flex의 행과 열간의 간격 */
    gap: 25px;
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
}